{% extends 'base.html.twig' %}

{% block title %}{% trans %}homepage{% endtrans %}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{% trans %}homepage{% endtrans %}</h1>
</div>
{% endblock %}
